.DS_Store
/.cache
/.coverage
/.sass-cache
/Gemfile.lock
/gae/site-packages/packages
/gae/static/lib
/gae/static_root.zip
/gae/templates
/htmlcov
/node_modules
tags

syntax: glob

*.css
*.egg
*.egg-info
*.js
*.mo
*.pot
*.py?
*.so
*.sw?
*.tmp
*~
/assets/tmp/**/*
/gae/**/templates/**/*.html
/gae/**/templates/**/mob/*.xhtml
/gae/oauth_config/*.py
/gae/site-packages/*.zip
/gae/static/sitemap*.html
/gae/tap/*.zip
/gae/tap/templates/tap/*.py

syntax: regexp
