syntax: glob

*.css
*.egg
*.egg-info
*.js
*.mo
*.pot
*.py?
*.so
*.sw?
*.tmp
*~
.DS_Store
.cache
.coverage
.sass-cache
Gemfile.lock
assets/tmp/**/*
doc/_*
gae/**/templates/**/*.html
gae/**/templates/**/mob/*.xhtml
gae/oauth_config/*.py
gae/site-packages/*.zip
gae/site-packages/packages
gae/static/lib
gae/static/sitemap.html
gae/static_root.zip
gae/tap/*.zip
gae/tap/templates/tap/*.py
gae/templates
htmlcov
node_modules
tags

syntax: regexp
