syntax: glob

*.css
*.egg
*.egg-info
*.js
*.mo
*.pot
*.py?
*.so
*.sw?
*.tmp
*~
.DS_Store
.cache
.coverage
.sass-cache
Gemfile.lock
datastore.db
doc/_*
gae/oauth_config/*.py
gae/site-packages/*.zip
gae/site-packages/packages
gae/static/lib
gae/static/sitemap.html
gae/static_root.zip
gae/tap/templates/tap/*.html
gae/tap/templates/tap/*.py
gae/tap/templates/tap/mob/*.xhtml
gae/templates/*.html
gae/templates/*.py
gae/templates/mob/*.xhtml
htmlcov
node_modules
tags
tests

syntax: regexp
