%meta{:charset => "UTF-8"}
%title {% block title %}Custom Admin{% endblock %}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%body{:style => "width:777px;", :"ng-app" => "{{ ngApp|default('') }}"}/
{% block main %}{% endblock main %}
