{% extends "tap/mob/base.xhtml" %}
{% block main %}
%div
 %a{:href => "/"} {{ _("top page") }}
 &gt;
 {{ _("a server error has occurred") }}
.hero-unit
 %h2 {{ _("Sorry, a server error has occurred.") }}
 %ul.pager
  %li
   %a{:href => "/"} {{ _("Go to the top page") }}
{% endblock main %}
