{% extends "base.html" %}
{% block head %}
%meta{:"http-equiv" => "refresh", :content => "30; url=/"}
%script{:src => "/static/js/error_page.js", :type => "text/javascript"}
{% endblock head %}
{% block main %}
%div
 %a{:href => "/"} トップ
 &gt;
 サーバーエラーが発生しました
.hero-unit
 %h2 サーバーエラーが発生しました
 %p 30秒後にトップページへ移動します
 .progress.progress-striped.active
  #seconds.bar{:style => "width: 0%;"}
 %ul.pager
  %li
   %a{:href => "/"} トップページヘ移動する
{% endblock main %}
