{% extends "tap/base.html" %}
{% block og %}{% endblock og %}
{% block fb %}{% endblock fb %}
{% block utils_js %}{% endblock utils_js %}
{% block head %}
%meta{:"http-equiv" => "refresh", :content => "30; url=/"}
%script(src="/static/tap/js/error_page{% if not DEBUG %}.min{% endif %}.js")
{% endblock head %}
{% block main %}
%div
 %a{:href => "/"} {{ _("top page") }}
 &gt;
 {{ _("a server error has occurred") }}
.row
 .jumbotron.col-md-8.col-md-offset-2
  %h2 {{ _("Sorry, a server error has occurred.") }}
  %p {{ _("will move to the top page after 30 seconds...") }}
  .progress.progress-striped.active
   #seconds.progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")
  %ul.pager
   %li
    %a{:href => "/"} {{ _("Go to the top page") }}
{% endblock main %}
{% block feedback_link %}{% endblock feedback_link %}
{% block feedback_form %}{% endblock feedback_form %}
