{% extends "tap/base.html" %}
{% set title = "Response Cache" %}
{% set ngApp = "app" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
%script(type="text/javascript" src="/static/js/admin_response_cache{% if DEBUG %}.min{% endif %}.js")
%div(ng-controller="Ctrl")/
%legend
 %a{:href => "./response_cache"} {{ title }}
%form.form-horizontal
 %fieldset
  .control-group
   %label.control-label Host
   .controls
    .input-prepend
     %span.add-on
      http(s)://
     %input.span6{:type => "text", :placeholder => "host (without port number)", :"ng-model" => "host", :"ng-init" => "host='{{ host|d('', true) }}'"}
   %label.control-label Path
   .controls
    .input-append
     %input.span6{:type => "text", :placeholder => "/url/path", :"ng-model" => "path", :"ng-init" => "path='{{ path|d('', true) }}'"}
     %a.btn.btn-primary{:href => "?host={{ '{{host}}' }}&path={{ '{{path}}' }}"}
      %i.icon-search.icon-white
      Search
    %p.help-block
     %a{:href => "{{ '{{application_url}}' }}{{ '{{path}}' }}", :target => "_blank", :"ng-init" => "{% if DEBUG %}DEBUG=true; {% endif %}app_id=\"{{ app_id }}\""}
      %i.icon-share-alt
      Open Path

{% if cache_key %}
%legend Result
%dl.dl-horizontal
 %dt key
 %dd
  %textarea.span8{:readonly => ""}
   {{ cache_key }}
{% if message %}
%legend Message
%dl.dl-horizontal
 %dt
 %dd
  %p.help-block
   %i.icon-info-sign
   {{ message }}
{% endif %}

{% if path and not message %}
%legend Delete cache of this key
%dl.dl-horizontal
 %dt
 %dd
  %form.form-inline{:action => "/_tap/response_cache?host={{ host }}&path={{ path }}", :method => "post"}
   %input{:type => "hidden", :name => "csrf", :value => "{{ csrf }}"}
   %label.checkbox
    %input{:type => "checkbox", :required => "", :"ng-model" => "checked", :"ng-true-value" => "", :"ng-false-value" => "disabled"}
     Do you want to delete it from caches?
   %button.btn.btn-danger{:type => "submit", :"ng-disabled" => "checked", :"ng-init" => "checked='false'"}
    %i.icon-trash.icon-white
    Delete
{% endif %}
{% endif %}
{% endblock main %}
